* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e0e0e0;
}

.container {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display {
  border-radius: 5px;
  background: #cacaca;
  border: 1px solid #bebebe;
  outline: none;
  height: 55px;
  width: 100%;
  text-align: end;
  color: #7e7e7e;
  font-size: 1.6em;
}

.area-botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.linha-botoes {
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  width: 65px;
  height: 45px;
  color: #7e7e7e;
  font-size: 18px;
  border-radius: 5px;
  background: #e8e8e8;
  border: 1px solid #bebebe;
  transition: all .1s;
  font-size: 1.3em;
 }
 
 button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
 }
